.themeButton {
  background: #77529e;
  border: 1px solid #8971d0;
  border-radius: 50px;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  display: block;
  font-family: "Lucida Sans";
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  padding: 8px 12px;
  transition: all 150ms ease-in-out;
}
.themeButton:hover {
  background-color: white;
  color: #8971d0;
}
body {
  background: linear-gradient(
    106.5deg,
    rgba(255, 215, 185, 0.91) 23%,
    rgba(223, 159, 247, 0.8) 93%
  );
  margin: 30px auto;
}
h1 {
  color: #77529e;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
h2 {
  color: #8971d0;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
img {
  max-width: 100%;
}

.gw-link {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #77529e;
  font-weight: bold;
  display: block;
  margin: auto;
  text-align: left;
}

.img-link {
  border-radius: 8px;
  transition: all 150ms ease-in-out;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.2);
}
.img-link:hover {
  transform: scale(1.1);
  filter: contrast(85%);
}

.container {
  max-width: 600px;
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 10px;
}

.grid img {
  width: 100%;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.grid img:hover {
  transform: scale(2);
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #77529e;
}

.contactButton {
  font-size: 15px;
  background: #8971d0;
  color: white;
  padding: 20px;
  transition: all 150ms ease-in-out;
  display: block;
  margin: 30px auto;
  border: 1px solid #8971d0;
  border-radius: 50px;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.2);
  font-family: "Lucida Sans";
  font-weight: bold;
  cursor: pointer;
}
.contactButton:hover {
  color: #8971d0;
  background-color: white;
}

footer {
  text-align: center;
  margin: 10px 0;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

a {
  color: #77529e;
}
.dark {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}

.dark .themeButton {
  background-color: gray;
  color: white;
  border: 1px solid gray;
}

.dark .themeButton:hover {
  background-color: white;
  color: gray;
}

.dark .contactButton {
  background-color: #9d9999;
  color: white;
  border: 1px solid gray;
}
.dark .contactButton:hover {
  background-color: white;
  color: gray;
}

.dark .container {
  background: linear-gradient(to right, #868f96 0%, #596164 100%);
}

.dark a,
.dark h1,
.dark h2,
.dark p,
.dark footer {
  color: white;
}
